In [451]:
import pandas as pd
import numpy as np
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
usr = pd.read_csv('users.csv')
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [452]:
len(log[log.time.isna() == True])

15

**Удаление пропусков**

Пропуски можно удалять автоматически. Во многих случаях это правильно, так как данные с большим количеством пропусков часто не имеют смысла и не приносят никакой пользы.  

Удалять данные с пропусками можно с помощью метода **dropna()**.

Параметр axis в методе **dropna()** говорит методу, по какой оси удалять значения.  

Если нужно удалить строки, в которых встречается пропуск (NaN), следует указать axis=0.  Зачем это делать? Например, у нас из 1000 примеров данных про пользователей пропуски есть в пяти. Разумно их удалить, так как их количество пренебрежимо мало.
Если нужно удалить столбцы, в которых встречается пропуск (NaN), нужно указывать axis=1. Зачем? Иногда в одном конкретном столбце пропусков настолько много, что с ними просто не хочется возиться - смысла в них все равно почти нет. 

Еще один интересный параметр - **subset**. Что он делает? Если передать в него список значений по одной оси (например, названия столбцов) и задать при этом в параметре axis другую ось (в нашем случае 0), то мы удалим те строки, для которых в данных столбцах находится пропуск. То же самое работает и наоборот: нужно поменять axis на 1 и вместо названий столбцов передавать индексы строк.

Перед удалением строк обязательно сделайте бэкап.

In [453]:
nolog = log.copy()
display(nolog.dropna(axis=1))

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

In [454]:
display(nolog.dropna(axis=0))

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

In [455]:
display(log.drop_duplicates(subset=['user_id','time']))

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [456]:
def filter_time(t):
    if type(t) is str:
        return t[1:]
    else:
        return t
nolog.time = pd.to_datetime(log.time.apply(filter_time))
nolog[nolog.time.isna() == False].time.dt.strftime('%Y-%m-%d').max()

'2019-04-20'

In [457]:
log = pd.read_csv("log.csv")  
# log = log.dropna()
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log

                              user_id                time       bet     win
0    Запись пользователя № - user_973 2019-01-01 14:51:16       NaN     NaN
1    Запись пользователя № - user_903 2019-01-01 16:31:16       NaN     NaN
2    Запись пользователя № - user_954 2019-01-01 17:17:51       NaN     NaN
3    Запись пользователя № - user_954 2019-01-01 21:31:18       NaN     NaN
4    Запись пользователя № - user_917 2019-01-01 23:34:55  156789.0     NaN
..                                ...                 ...       ...     ...
990  Запись пользователя № - user_965 2019-04-20 12:55:41     800.0  6927.0
991  Запись пользователя № - user_967 2019-04-20 14:59:36   10154.0     NaN
992  Запись пользователя № - user_973 2019-04-20 17:09:56   10254.0     NaN
993  Запись пользователя № - user_977 2019-04-20 18:10:07   10354.0     NaN
994  Запись пользователя № - user_984 2019-04-20 09:59:58    9754.0     NaN

[984 rows x 4 columns]

In [458]:
log.time.dt.minute.value_counts()

36    25
31    23
50    22
14    21
29    21
43    21
5     21
6     21
40    21
18    21
53    21
12    21
45    20
57    20
58    20
48    20
2     20
56    19
21    19
27    19
35    18
34    18
33    18
54    18
47    18
3     18
20    18
9     18
51    17
10    17
55    16
17    16
25    16
24    15
37    15
49    15
38    15
15    15
16    15
28    15
30    15
32    14
7     14
19    14
4     14
44    14
59    13
41    13
1     13
39    12
23    12
0     12
42    11
22    11
13    11
46    10
52    10
26     9
8      9
11     6
Name: time, dtype: int64

In [459]:
log.time.dt.month.value_counts()

1    291
3    264
2    259
4    170
Name: time, dtype: int64

In [460]:
log.time[log.time.dt.day_of_week > 4].dt.day_of_week.value_counts().sum()

283

In [461]:
def get_daytime_name(time):
    if 0 <= time <= 5:
        return 'ночь'
    elif 5 < time <= 11:
        return 'утро'
    elif 11 < time <= 17:
        return 'день'
    elif 17 < time <= 23:
        return 'вечер'

log.time.apply(lambda x: get_daytime_name(x.hour)).value_counts()

ночь     265
утро     253
день     239
вечер    227
Name: time, dtype: int64

In [462]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna()
# log = log.dropna(subset=['time'])
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour
log

,user_id,time,bet,win,hour
13,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
28,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
150,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
188,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
204,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
966,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
970,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
971,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
975,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
990,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

In [463]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log.time.apply(lambda x: x.hour)
log

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

In [464]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.fillna(0)
log[log.bet == 0].count()

user_id    515
time       515
bet        515
win        515
dtype: int64

In [465]:
def fillna_win(row): 
    if row.bet == 0 and row.win == 0:
        return 0
    elif row.bet > 0 and row.win == 0:
        return row.bet * -1
    return row.win
  
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win
log[log.win < 0].count()

user_id    347
time       347
bet        347
win        347
dtype: int64

In [466]:
def calculate_net(row):
    if row.win <= 0:
        return row.win
    elif row.win > 0:
        return row.win - row.bet

net = log.apply(lambda row: calculate_net(row), axis=1)
log['net'] = net
log[log.net > 0].sort_values(by=['net'])

,user_id,time,bet,win,net
709,Запись пользователя № - user_947,[2019-03-19 8:06:57,200.0,3736.0,3536.0
469,Запись пользователя № - user_979,[2019-02-20 15:03:15,100.0,3691.0,3591.0
620,Запись пользователя № - user_946,[2019-03-08 7:00:34,100.0,3794.0,3694.0
601,Запись пользователя № - user_992,[2019-03-06 16:04:28,100.0,3834.0,3734.0
624,Запись пользователя № - user_902,[2019-03-09 16:52:11,200.0,4021.0,3821.0
...,...,...,...,...,...
987,#error,0,10554.0,31634.0,21080.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0,21245.0
966,Запись пользователя № - user_940,[2019-04-19 20:34:13,10754.0,32279.0,21525.0
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0,1841921.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0,8198222.0

In [467]:
log[log.net > 0].net.mean()

80253.33333333333

In [468]:
log[log.net > 0].net.median()

5347.0

In [469]:
display(log.bet.mean())
display(log.bet.mean(skipna=False))
# display(pd.mean(log['bet']))
display(log.bet.sum() / log.bet.dropna().shape[0])
display(np.mean(log.bet))
display(log['bet'].dropna().mean())

3291.083

3291.083

3291.083

3291.083

3291.083

In [470]:
rawlog = pd.read_csv("log.csv", header=None)
rawlog.columns = ['user_id', 'time', 'bet', 'win']
display(rawlog.bet.mean())
display(rawlog.bet.mean(skipna=False))
# display(pd.mean(log['bet']))
display(rawlog.bet.sum() / rawlog.bet.dropna().shape[0])
display(np.mean(rawlog.bet))
display(rawlog['bet'].dropna().mean())

6785.738144329897

nan

6785.738144329897

6785.738144329897

6785.738144329897

In [471]:
log[log.bet > 0].bet.count() / len(log) * 100

48.5

In [472]:
log[log.bet > 0].mean()

bet     6785.738144
win    24794.554639
net    20421.892784
dtype: float64

In [473]:
log[(log.bet > 0) & (log.net < 0)].mean()

bet    3372.743516
win   -3372.743516
net   -3372.743516
dtype: float64

In [474]:
display(log[(log.bet > 0) & (log.net > 0)].count() / log[log.bet > 0].count() * 100)
display(log[(log.bet > 0) & (log.net < 0)].count() / log[log.bet > 0].count() * 100)

user_id    28.453608
time       28.453608
bet        28.453608
win        28.453608
net        28.453608
dtype: float64

user_id    71.546392
time       71.546392
bet        71.546392
win        71.546392
net        71.546392
dtype: float64

In [475]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['bet'])
min_bet_amount = len(log[log.bet == log.bet.min()])
min_bet_amount

48

In [476]:
us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us.columns = ['user_id', 'email', 'geo']
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log = log.fillna(0)
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
log['win'] = new_win
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])

In [477]:
newdf = pd.merge(us, log, on='user_id')  
newdf

      user_id                email      geo                time    bet     win
0    user_943  Accumanst@gmail.com   Ижевск 2019-01-06 21:06:57    0.0     0.0
1    user_943  Accumanst@gmail.com   Ижевск 2019-01-10 12:16:22  100.0  -100.0
2    user_943  Accumanst@gmail.com   Ижевск 2019-01-27 01:18:47  100.0  -100.0
3    user_943  Accumanst@gmail.com   Ижевск 2019-02-10 11:09:24  100.0  5456.0
4    user_943  Accumanst@gmail.com   Ижевск 2019-02-12 15:09:38  300.0  5245.0
..        ...                  ...      ...                 ...    ...     ...
970  user_965  Visuareda@yahoo.com  Воронеж 2019-04-20 12:55:41  800.0  6927.0
971  user_921         Aavast@ya.ru   Ижевск 2019-01-07 01:05:59    0.0     0.0
972  user_921         Aavast@ya.ru   Ижевск 2019-02-05 14:08:57    0.0     0.0
973  user_921         Aavast@ya.ru   Ижевск 2019-02-09 23:20:21  400.0  6067.0
974  user_921         Aavast@ya.ru   Ижевск 2019-02-10 17:53:37  900.0  -900.0

[975 rows x 6 columns]

In [478]:
newdf.groupby('user_id').win.median().median()

0.0

In [479]:
newdf.groupby(by=['user_id']).sum().median()

bet    4100.0
win    3328.5
dtype: float64

In [480]:
net = newdf.apply(lambda row: calculate_net(row), axis=1)
newdf['net'] = net
newdf.groupby(by=['user_id']).net.sum().median()

1986.0

In [481]:
group_null = newdf[newdf.bet==0].groupby('user_id').bet.count()
group_not_null = newdf[newdf.bet>0].groupby('user_id').bet.count()
grp = group_null/(group_null+group_not_null)
newdf[newdf.bet == 0].groupby('user_id').bet.count().sum()/100

5.05

In [486]:
newdf

,user_id,email,geo,time,bet,win,net
0,user_943,Accumanst@gmail.com,Ижевск,2019-01-06 21:06:57,0.0,0.0,0.0
1,user_943,Accumanst@gmail.com,Ижевск,2019-01-10 12:16:22,100.0,-100.0,-100.0
2,user_943,Accumanst@gmail.com,Ижевск,2019-01-27 01:18:47,100.0,-100.0,-100.0
3,user_943,Accumanst@gmail.com,Ижевск,2019-02-10 11:09:24,100.0,5456.0,5356.0
4,user_943,Accumanst@gmail.com,Ижевск,2019-02-12 15:09:38,300.0,5245.0,4945.0
...,...,...,...,...,...,...,...
970,user_965,Visuareda@yahoo.com,Воронеж,2019-04-20 12:55:41,800.0,6927.0,6127.0
971,user_921,Aavast@ya.ru,Ижевск,2019-01-07 01:05:59,0.0,0.0,0.0
972,user_921,Aavast@ya.ru,Ижевск,2019-02-05 14:08:57,0.0,0.0,0.0
973,user_921,Aavast@ya.ru,Ижевск,2019-02-09 23:20:21,400.0,6067.0,5667.0
974,user_921,Aavast@ya.ru,Ижевск,2019-02-10 17:53:37,900.0,-900.0,-900.0

In [495]:
apptime = newdf[newdf.bet == 0].groupby('user_id').time.min()
bettime = newdf[newdf.bet > 0].groupby('user_id').time.min()
(bettime - apptime).mean()

Timedelta('46 days 06:54:48')

In [506]:
newdf.groupby('geo').win.sum().sort_values(ascending=False)

geo
Москва             11379755.0
Воронеж              107514.0
Санкт-Петербург      105345.0
Казань                75352.0
Ярославль             46845.0
Ижевск                34479.0
Хабаровск             33451.0
Екатеринбург          28582.0
Красноярск            27397.0
Арзангелтск           25813.0
Пермь                 19518.0
Краснодар              3248.0
Ставрополь              487.0
Тюмень                 -499.0
Name: win, dtype: float64

In [519]:
grpd = newdf[newdf.bet>0].groupby('geo').bet.mean()
grpd.max() / grpd.min()

127.81602335164835

In [524]:
usrs = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
usrs.columns = ['user_id', 'email', 'geo']
usrs.user_id = usrs.user_id.apply(lambda x: x.lower()) 
logs = pd.read_csv("log.csv", header=None)
logs.columns = ['user_id', 'time', 'bet', 'win']
logs = logs[logs.user_id != '#error']  
logs.user_id = logs.user_id.str.split(' - ').apply(lambda x: x[1])
dfs = pd.merge(usrs, logs, on='user_id')
dfs.groupby('geo').user_id.count()

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64

0      1
1      1
2      1
3      1
4      1
      ..
991    4
992    4
993    4
994    4
995    4
Name: time, Length: 985, dtype: int64