In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

flights = pd.read_csv('flights.csv')
flights.head()

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
0,1,733,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Boeing 737-300,4200,130,118,12,0,113.0,1653000.0,1219.872758,3009,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,6000.0,5015.0,304701.37
1,2,733,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Boeing 737-300,4200,130,118,12,0,109.0,1605400.0,1219.872758,3009,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,6000.0,5015.0,304701.37
2,3,733,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Boeing 737-300,4200,130,118,12,0,97.0,1431000.0,1219.872758,3009,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,6000.0,5015.0,304701.37
3,4,733,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Boeing 737-300,4200,130,118,12,0,107.0,1556600.0,1219.872758,3009,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,6000.0,5015.0,304701.37
4,5,733,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Boeing 737-300,4200,130,118,12,0,124.0,1812800.0,1219.872758,3009,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,6000.0,5015.0,304701.37