In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

flights = pd.read_csv('flights.csv')
flights.head()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
flights.flight_no.value_counts()

PG0480    59
PG0252    59
PG0194     9
Name: flight_no, dtype: int64

In [ ]:
flights[flights.flight_no == 'PG0194'].head()

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
59,60,733,136511,PG0194,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,Arrived,2017-02-21T06:15:00Z,2017-02-21T11:25:00Z,Boeing 737-300,4200,130,118,12,0,NaN,NaN,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
60,61,733,136513,PG0194,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,Arrived,2017-02-28T06:13:00Z,2017-02-28T11:23:00Z,Boeing 737-300,4200,130,118,12,0,NaN,NaN,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
61,62,733,136514,PG0194,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,Arrived,2017-02-07T06:14:00Z,2017-02-07T11:13:00Z,Boeing 737-300,4200,130,118,12,0,NaN,NaN,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
62,63,733,136523,PG0194,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,Arrived,2017-01-10T06:14:00Z,2017-01-10T11:26:00Z,Boeing 737-300,4200,130,118,12,0,NaN,NaN,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
63,64,733,136540,PG0194,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,Arrived,2017-01-17T06:14:00Z,2017-01-17T11:21:00Z,Boeing 737-300,4200,130,118,12,0,NaN,NaN,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785

In [ ]:
two_flights = flights[flights.flight_no != 'PG0194']
print(two_flights.total_income.sum())
print(two_flights.approx_fuel_cost.sum())
two_flights.total_income.sum() - two_flights.approx_fuel_cost.sum()

138827700.0
25224493.80666666

113603206.19333334

In [ ]:
first = flights[flights.flight_no == 'PG0480']
second = flights[flights.flight_no == 'PG0252']
third = flights[flights.flight_no == 'PG0194']

In [ ]:
first.describe()

,row_number,flight_id,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time_sec,fuel_consumption,approx_fuel_cost
count,59.000000,59.000000,59.0,59.0,59.0,59.0,59.0,59.000000,59.000000,5.900000e+01,59.0,59.0,59.000000,5.900000e+01
mean,98.000000,136768.220339,3000.0,97.0,85.0,12.0,0.0,90.186441,710435.593220,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05
std,17.175564,112.072801,0.0,0.0,0.0,0.0,0.0,8.101670,65835.266628,1.146627e-13,0.0,0.0,0.000000,2.935365e-11
min,69.000000,136571.000000,3000.0,97.0,85.0,12.0,0.0,64.000000,531000.000000,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05
25%,83.500000,136663.500000,3000.0,97.0,85.0,12.0,0.0,86.500000,667350.000000,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05
50%,98.000000,136769.000000,3000.0,97.0,85.0,12.0,0.0,95.000000,746400.000000,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05
75%,112.500000,136859.000000,3000.0,97.0,85.0,12.0,0.0,97.000000,765300.000000,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05
max,127.000000,136956.000000,3000.0,97.0,85.0,12.0,0.0,97.000000,765300.000000,6.298606e+02,2426.0,3000.0,2021.666667,1.228324e+05

In [ ]:
second.describe()

,row_number,flight_id,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time_sec,fuel_consumption,approx_fuel_cost
count,59.000000,59.000000,59.0,59.0,59.0,59.0,59.0,59.000000,5.900000e+01,5.900000e+01,59.0,59.0,59.0,5.900000e+01
mean,30.000000,136298.661017,4200.0,130.0,118.0,12.0,0.0,113.118644,1.642576e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05
std,17.175564,117.208716,0.0,0.0,0.0,0.0,0.0,8.896115,1.318786e+05,2.293254e-13,0.0,0.0,0.0,1.174146e-10
min,1.000000,136119.000000,4200.0,130.0,118.0,12.0,0.0,97.000000,1.398000e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05
25%,15.500000,136193.500000,4200.0,130.0,118.0,12.0,0.0,107.000000,1.543200e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05
50%,30.000000,136284.000000,4200.0,130.0,118.0,12.0,0.0,112.000000,1.628600e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05
75%,44.500000,136407.000000,4200.0,130.0,118.0,12.0,0.0,120.000000,1.738400e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05
max,59.000000,136486.000000,4200.0,130.0,118.0,12.0,0.0,130.000000,1.886000e+06,1.219873e+03,3009.0,6000.0,5015.0,3.047014e+05

In [ ]:
third.describe()

,row_number,flight_id,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time_sec,fuel_consumption,approx_fuel_cost
count,9.000000,9.000000,9.0,9.0,9.0,9.0,9.0,0.0,0.0,9.000000,9.0,9.0,9.00,9.0000
mean,64.000000,136535.333333,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785
std,2.738613,20.976177,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.0,0.0,0.00,0.0000
min,60.000000,136511.000000,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785
25%,62.000000,136514.000000,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785
50%,64.000000,136540.000000,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785
75%,66.000000,136546.000000,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785
max,68.000000,136567.000000,4200.0,130.0,118.0,12.0,0.0,NaN,NaN,3634.018122,3009.0,18300.0,15295.75,929339.1785

In [ ]:
sold = round(second.sold_tickets.mean())
third.loc['sold_tickets'] = sold
third

/Users/ilkhom/Projects/Misc/DataScience/Repo/.venv/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
59,60.0,733,136511.0,PG0194,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,Arrived,2017-02-21T06:15:00Z,2017-02-21T11:25:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
60,61.0,733,136513.0,PG0194,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,Arrived,2017-02-28T06:13:00Z,2017-02-28T11:23:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
61,62.0,733,136514.0,PG0194,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,Arrived,2017-02-07T06:14:00Z,2017-02-07T11:13:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
62,63.0,733,136523.0,PG0194,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,Arrived,2017-01-10T06:14:00Z,2017-01-10T11:26:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
63,64.0,733,136540.0,PG0194,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,Arrived,2017-01-17T06:14:00Z,2017-01-17T11:21:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
64,65.0,733,136544.0,PG0194,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,AAQ,NOZ,Arrived,2017-01-31T06:10:00Z,2017-01-31T11:14:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
65,66.0,733,136546.0,PG0194,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,AAQ,NOZ,Arrived,2017-01-03T06:13:00Z,2017-01-03T11:15:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
66,67.0,733,136560.0,PG0194,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,AAQ,NOZ,Arrived,2017-01-24T06:13:00Z,2017-01-24T11:18:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
67,68.0,733,136567.0,PG0194,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,AAQ,NOZ,Arrived,2017-02-14T06:12:00Z,2017-02-14T11:23:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,NaN,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
sold_tickets,113.0,113,113.0,113,113,113,113,113,113,113,113,113,113.0,113.0,113.0,113.0,113.0,113.000000,113.0,113.000000,113.0,113,113.0,113.00,113.0000

In [ ]:
prices = (second.total_income / second.sold_tickets) / second.distance
price_per_km = prices.mean()
price_per_km

11.903722031874533

In [ ]:
third.total_income = price_per_km * third.sold_tickets * third.distance
third

/Users/ilkhom/Projects/Misc/DataScience/Repo/.venv/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
59,60.0,733,136511.0,PG0194,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,Arrived,2017-02-21T06:15:00Z,2017-02-21T11:25:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
60,61.0,733,136513.0,PG0194,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,Arrived,2017-02-28T06:13:00Z,2017-02-28T11:23:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
61,62.0,733,136514.0,PG0194,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,Arrived,2017-02-07T06:14:00Z,2017-02-07T11:13:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
62,63.0,733,136523.0,PG0194,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,Arrived,2017-01-10T06:14:00Z,2017-01-10T11:26:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
63,64.0,733,136540.0,PG0194,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,Arrived,2017-01-17T06:14:00Z,2017-01-17T11:21:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
64,65.0,733,136544.0,PG0194,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,AAQ,NOZ,Arrived,2017-01-31T06:10:00Z,2017-01-31T11:14:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
65,66.0,733,136546.0,PG0194,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,AAQ,NOZ,Arrived,2017-01-03T06:13:00Z,2017-01-03T11:15:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
66,67.0,733,136560.0,PG0194,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,AAQ,NOZ,Arrived,2017-01-24T06:13:00Z,2017-01-24T11:18:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
67,68.0,733,136567.0,PG0194,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,AAQ,NOZ,Arrived,2017-02-14T06:12:00Z,2017-02-14T11:23:00Z,Boeing 737-300,4200.0,130.0,118.0,12.0,0.0,113.118644,4.893325e+06,3634.018122,3009.0,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
sold_tickets,113.0,113,113.0,113,113,113,113,113,113,113,113,113,113.0,113.0,113.0,113.0,113.0,113.000000,1.519986e+05,113.000000,113.0,113,113.0,113.00,113.0000

In [ ]:
print(first.total_income.sum())
print(first.approx_fuel_cost.sum())
(first.total_income - first.approx_fuel_cost).sum()

41915700.0
7247112.976666669

34668587.02333334

In [ ]:
print(second.total_income.sum())
print(second.approx_fuel_cost.sum())
(second.total_income - second.approx_fuel_cost).sum()

96912000.0
17977380.830000006

78934619.16999999

In [ ]:
print(third.total_income.sum())
print(third.approx_fuel_cost.sum())
(third.total_income - third.approx_fuel_cost).sum()

44191923.13270549
8364165.606500001

35827757.52620549

In [ ]:
34668587 + 78934619 + 35827757

149430963

In [ ]:
first.total_income.sum() / first.approx_fuel_cost.sum()

5.783779021377868

In [ ]:
second.total_income.sum() / second.approx_fuel_cost.sum()

5.390774157616817

In [ ]:
third.total_income.sum() / third.approx_fuel_cost.sum()

5.283482562607661

In [ ]:
third = flights[flights.flight_no == 'PG0194']
third.sold_tickets = 113

/Users/ilkhom/Projects/Misc/DataScience/Repo/.venv/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
tkt_price = (second.total_income / second.sold_tickets).mean()
tkt_price

14521.026226862734

In [ ]:
third.total_income = third.sold_tickets * tkt_price
third

/Users/ilkhom/Projects/Misc/DataScience/Repo/.venv/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
59,60,733,136511,PG0194,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,Arrived,2017-02-21T06:15:00Z,2017-02-21T11:25:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
60,61,733,136513,PG0194,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,Arrived,2017-02-28T06:13:00Z,2017-02-28T11:23:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
61,62,733,136514,PG0194,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,Arrived,2017-02-07T06:14:00Z,2017-02-07T11:13:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
62,63,733,136523,PG0194,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,Arrived,2017-01-10T06:14:00Z,2017-01-10T11:26:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
63,64,733,136540,PG0194,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,Arrived,2017-01-17T06:14:00Z,2017-01-17T11:21:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
64,65,733,136544,PG0194,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,AAQ,NOZ,Arrived,2017-01-31T06:10:00Z,2017-01-31T11:14:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
65,66,733,136546,PG0194,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,AAQ,NOZ,Arrived,2017-01-03T06:13:00Z,2017-01-03T11:15:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
66,67,733,136560,PG0194,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,AAQ,NOZ,Arrived,2017-01-24T06:13:00Z,2017-01-24T11:18:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
67,68,733,136567,PG0194,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,AAQ,NOZ,Arrived,2017-02-14T06:12:00Z,2017-02-14T11:23:00Z,Boeing 737-300,4200,130,118,12,0,113,1.640876e+06,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785

In [ ]:
(third.total_income - third.approx_fuel_cost).mean() * len(second)

41980670.322993845

In [ ]:
second.total_income.mean()

1642576.2711864407

In [ ]:
price_per_km = (second.total_income/second.sold_tickets/second.distance).mean()
third.total_income = round(((third.sold_tickets*third.distance)*price_per_km).mean())
third

/Users/ilkhom/Projects/Misc/DataScience/Repo/.venv/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
59,60,733,136511,PG0194,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,Arrived,2017-02-21T06:15:00Z,2017-02-21T11:25:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
60,61,733,136513,PG0194,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,Arrived,2017-02-28T06:13:00Z,2017-02-28T11:23:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
61,62,733,136514,PG0194,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,Arrived,2017-02-07T06:14:00Z,2017-02-07T11:13:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
62,63,733,136523,PG0194,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,Arrived,2017-01-10T06:14:00Z,2017-01-10T11:26:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
63,64,733,136540,PG0194,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,Arrived,2017-01-17T06:14:00Z,2017-01-17T11:21:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
64,65,733,136544,PG0194,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,AAQ,NOZ,Arrived,2017-01-31T06:10:00Z,2017-01-31T11:14:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
65,66,733,136546,PG0194,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,AAQ,NOZ,Arrived,2017-01-03T06:13:00Z,2017-01-03T11:15:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
66,67,733,136560,PG0194,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,AAQ,NOZ,Arrived,2017-01-24T06:13:00Z,2017-01-24T11:18:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785
67,68,733,136567,PG0194,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,AAQ,NOZ,Arrived,2017-02-14T06:12:00Z,2017-02-14T11:23:00Z,Boeing 737-300,4200,130,118,12,0,113,4888193,3634.018122,3009,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,18300.0,15295.75,929339.1785

In [ ]:
first_income = (first.total_income.mean() * len(second)).sum()
first_expense = (first.approx_fuel_cost.mean() * len(second)).sum()
first_income, first_expense, first_income - first_expense, first_income / first_expense

(41915700.0, 7247112.976666669, 34668587.02333333, 5.783779021377868)

In [ ]:
second_income = (second.total_income.mean() * len(second)).sum()
second_expense = (second.approx_fuel_cost.mean() * len(second)).sum()
second_income, second_expense, second_income - second_expense, second_income / second_expense

(96912000.0, 17977380.830000006, 78934619.16999999, 5.390774157616817)

In [ ]:
third_income = (third.total_income.mean() * len(second)).sum()
third_expense = (third.approx_fuel_cost.mean() * len(second)).sum()
third_income, third_expense, third_income - third_expense, third_income / third_expense

(288403387.0, 54831011.531500004, 233572375.4685, 5.259858954714239)

In [ ]:
third_income = third.total_income.sum()
third_expense = third.approx_fuel_cost.sum()
third_income, third_expense, third_income - third_expense, third_income / third_expense

(43993737, 8364052.606500001, 35629684.3935, 5.259858954714239)

In [ ]:
all = pd.concat([second, third, first])
all.total_income.mean() - all.approx_fuel_cost.mean()
# all.head()

1175062.130604987

In [ ]:
first[first.sold_tickets < 80]

,row_number,aircraft_code,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,actual_departure,actual_arrival,model,range,seats_num,economy,business,comfort,sold_tickets,total_income,distance,litres_per_hour,flight_time,flight_time_sec,fuel_consumption,approx_fuel_cost
74,75,SU9,136620,PG0480,2017-02-17T09:25:00Z,2017-02-17T10:15:00Z,AAQ,EGO,Arrived,2017-02-17T09:30:00Z,2017-02-17T10:19:00Z,Sukhoi Superjet-100,3000,97,85,12,0,79.0,613500.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
77,78,SU9,136642,PG0480,2017-01-30T09:25:00Z,2017-01-30T10:15:00Z,AAQ,EGO,Arrived,2017-01-30T09:28:00Z,2017-01-30T10:17:00Z,Sukhoi Superjet-100,3000,97,85,12,0,64.0,531000.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
102,103,SU9,136807,PG0480,2017-02-23T09:25:00Z,2017-02-23T10:15:00Z,AAQ,EGO,Arrived,2017-02-23T09:28:00Z,2017-02-23T10:18:00Z,Sukhoi Superjet-100,3000,97,85,12,0,68.0,531000.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
105,106,SU9,136823,PG0480,2017-02-05T09:25:00Z,2017-02-05T10:15:00Z,AAQ,EGO,Arrived,2017-02-05T09:27:00Z,2017-02-05T10:18:00Z,Sukhoi Superjet-100,3000,97,85,12,0,78.0,620400.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
109,110,SU9,136844,PG0480,2017-02-28T09:25:00Z,2017-02-28T10:15:00Z,AAQ,EGO,Arrived,2017-02-28T09:26:00Z,2017-02-28T10:16:00Z,Sukhoi Superjet-100,3000,97,85,12,0,79.0,575100.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
116,117,SU9,136887,PG0480,2017-01-20T09:25:00Z,2017-01-20T10:15:00Z,AAQ,EGO,Arrived,2017-01-20T09:30:00Z,2017-01-20T10:19:00Z,Sukhoi Superjet-100,3000,97,85,12,0,78.0,595200.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
117,118,SU9,136888,PG0480,2017-02-14T09:25:00Z,2017-02-14T10:15:00Z,AAQ,EGO,Arrived,2017-02-14T09:29:00Z,2017-02-14T10:19:00Z,Sukhoi Superjet-100,3000,97,85,12,0,79.0,626100.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333
120,121,SU9,136922,PG0480,2017-02-11T09:25:00Z,2017-02-11T10:15:00Z,AAQ,EGO,Arrived,2017-02-11T09:27:00Z,2017-02-11T10:17:00Z,Sukhoi Superjet-100,3000,97,85,12,0,76.0,607800.0,629.860554,2426,0 years 0 mons 0 days 0 hours 50 mins 0.00 secs,3000.0,2021.666667,122832.423333