In [1]:
import pandas as pd
df = pd.read_csv("data_sf.csv")
display(df)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [2]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [3]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Belgium      3
Uruguay      3
Argentina    3
Germany      3
France       2
Croatia      1
Portugal     1
Poland       1
Slovenia     1
Italy        1
England      1
Brazil       1
Name: Nationality, dtype: int64

In [4]:
s.index

Index(['Spain', 'Belgium', 'Uruguay', 'Argentina', 'Germany', 'France',
       'Croatia', 'Portugal', 'Poland', 'Slovenia', 'Italy', 'England',
       'Brazil'],
      dtype='object')

In [5]:
s['Germany']

3

In [6]:
s.loc[s > 1]

Spain        4
Belgium      3
Uruguay      3
Argentina    3
Germany      3
France       2
Name: Nationality, dtype: int64

In [16]:
small_df.Club.value_counts().count()

10

In [17]:
df.Club.value_counts().count()

650

In [18]:
df.Club.value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
De Graafschap        29
Padova               29
FC Emmen             29
                     ..
Dijon FCO             8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [3]:
import pandas as pd
df = pd.read_csv("data_sf.csv")
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts(normalize=True)
display(s)

Spain        0.16
Germany      0.12
Argentina    0.12
Uruguay      0.12
Belgium      0.12
France       0.08
Portugal     0.04
Italy        0.04
Slovenia     0.04
England      0.04
Poland       0.04
Croatia      0.04
Brazil       0.04
Name: Nationality, dtype: float64

In [4]:
df.Position.value_counts(normalize=True)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [5]:
s = small_df['Age'].value_counts()
display(s)

27    5
32    5
31    3
26    3
29    2
24    2
33    2
30    1
28    1
25    1
Name: Age, dtype: int64

In [7]:
s = small_df['Wage'].value_counts()
display(s)

205000    3
355000    2
240000    2
300000    1
130000    1
225000    1
455000    1
340000    1
315000    1
565000    1
405000    1
215000    1
380000    1
285000    1
145000    1
290000    1
125000    1
200000    1
420000    1
94000     1
260000    1
Name: Wage, dtype: int64

In [8]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [9]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [10]:
small_df = df[df.columns[0:7]].head(25)

s = small_df['Wage'].value_counts(bins=4)

display(s)

s.index

s.index[3]

s.index[3].left

s.index[3].right

small_df['Wage'] > s.index[3].left

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [13]:
df.FKAccuracy.value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [16]:
df.FKAccuracy.value_counts()

32    382
35    361
42    355
40    353
39    343
     ...
3       1
90      1
92      1
93      1
94      1
Name: FKAccuracy, Length: 89, dtype: int64

In [17]:
s = small_df['Nationality'].value_counts()
print(s.index)
print(len(s.index))

Index(['Spain', 'Germany', 'Argentina', 'Uruguay', 'Belgium', 'France',
       'Portugal', 'Italy', 'Slovenia', 'England', 'Poland', 'Croatia',
       'Brazil'],
      dtype='object')
13

In [18]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [19]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

        index  Nationality
0       Spain            4
1     Germany            3
2   Argentina            3
3     Uruguay            3
4     Belgium            3
5      France            2
6    Portugal            1
7       Italy            1
8    Slovenia            1
9     England            1
10     Poland            1
11    Croatia            1
12     Brazil            1

In [20]:
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1      Germany              3
2    Argentina              3
3      Uruguay              3
4      Belgium              3
5       France              2
6     Portugal              1
7        Italy              1
8     Slovenia              1
9      England              1
10      Poland              1
11     Croatia              1
12      Brazil              1

In [25]:
df[df.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [29]:
df[df.Club == "Manchester United"].Nationality.nunique()

13

In [41]:
newds = df[(df.Nationality == 'Brazil') & (df.Club == 'Juventus')].Name.sort_index(ascending=True)
[pl for pl in newds]

['Alex Sandro', 'Douglas Costa']

In [48]:
df[df.Age > 35].Club.value_counts()

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Estudiantes de La Plata       3
Club Atlético Tigre           3
Hammarby IF                   3
                             ..
Shimizu S-Pulse               1
Watford                       1
Jagiellonia Białystok         1
HJK Helsinki                  1
Arsenal                       1
Name: Club, Length: 212, dtype: int64

In [50]:
df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [56]:
df[(df.Nationality == 'Spain')].Age.value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [57]:
grouped_df = df.groupby(['Club']).sum()
display(grouped_df)

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [58]:
grouped_df.loc['Ajax']

Unnamed: 0             26041
Age                      275
Value              152250000
Wage                  158000
Crossing                 844
Finishing                723
HeadingAccuracy          848
ShortPassing             940
Volleys                  696
Dribbling                932
Curve                    779
FKAccuracy               680
LongPassing              878
BallControl              951
Acceleration             944
SprintSpeed              969
Agility                  969
Reactions                924
Balance                  918
ShotPower                876
Jumping                  915
Stamina                  974
Strength                 896
LongShots                720
Aggression               847
Interceptions            801
Positioning              813
Vision                   881
Penalties                710
Composure                929
Marking                  750
StandingTackle           814
SlidingTackle            756
GKDiving                 150
GKHandling               130
GKKicking                139
GKPositioning            155
GKReflexes               129
Name: Ajax, dtype: int64

In [59]:
grouped_df.loc['Ajax']['Wage']

158000

In [60]:
grouped_df = df.groupby(['Club'])['Wage'].sum()
display(grouped_df)

Club
 SSV Jahn Regensburg      90000
1. FC Heidenheim 1846     76000
1. FC Kaiserslautern      33000
1. FC Köln                92000
1. FC Magdeburg           84000
                          ...
Zagłębie Sosnowiec        27000
Çaykur Rizespor          118000
Örebro SK                 36000
Östersunds FK             39000
Śląsk Wrocław             50000
Name: Wage, Length: 650, dtype: int64

In [61]:
grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.head(5))

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
Name: Wage, dtype: int64

In [64]:
df.groupby(['Position']).Wage.sum().sort_values(ascending=False)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [65]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

                     Wage        Age  ShotPower
Nationality
Afghanistan   1250.000000  22.500000  53.750000
Albania       5931.034483  23.689655  54.551724
Algeria      15810.810811  27.027027  56.567568
Andorra       1000.000000  28.000000  58.000000
Angola        7100.000000  24.700000  63.700000
...                   ...        ...        ...
Uzbekistan    9000.000000  29.500000  71.500000
Venezuela     6611.111111  23.638889  57.222222
Wales         9529.411765  24.754902  48.558824
Zambia        2833.333333  21.833333  66.833333
Zimbabwe      5000.000000  26.555556  62.888889

[156 rows x 3 columns]

In [66]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [67]:
df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

In [71]:
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'], ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [72]:
df.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [73]:
df.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24
Name: Name, Length: 650, dtype: int64

In [74]:
df.groupby(['Club'])['Dribbling'].median()

Club
 SSV Jahn Regensburg     57.5
1. FC Heidenheim 1846    59.5
1. FC Kaiserslautern     54.0
1. FC Köln               60.5
1. FC Magdeburg          53.0
                         ...
Zagłębie Sosnowiec       58.0
Çaykur Rizespor          62.0
Örebro SK                55.0
Östersunds FK            61.5
Śląsk Wrocław            54.5
Name: Dribbling, Length: 650, dtype: float64

In [75]:
df.groupby(['Club'])['Strength'].max()

Club
 SSV Jahn Regensburg     92
1. FC Heidenheim 1846    86
1. FC Kaiserslautern     85
1. FC Köln               76
1. FC Magdeburg          86
                         ..
Zagłębie Sosnowiec       84
Çaykur Rizespor          81
Örebro SK                85
Östersunds FK            88
Śląsk Wrocław            85
Name: Strength, Length: 650, dtype: int64

In [76]:
df.groupby(['Club'])['Balance'].min()

Club
 SSV Jahn Regensburg     29
1. FC Heidenheim 1846    22
1. FC Kaiserslautern     29
1. FC Köln               31
1. FC Magdeburg          19
                         ..
Zagłębie Sosnowiec       28
Çaykur Rizespor          39
Örebro SK                34
Östersunds FK            32
Śląsk Wrocław            31
Name: Balance, Length: 650, dtype: int64

In [103]:
some = df.groupby(['Club'])['Wage'].agg(['mean','median'])
some[some['mean'] == some['median']].sort_values(['mean'], ascending=False)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000

In [107]:
clubs = df.groupby(['Club']).Wage.sum()
clubs["Chelsea"]

2035000

In [138]:
maxs = df[(df.Nationality == "Argentina") & (df.Age == 30)][['Wage','Age','Name']]
maxs[maxs.Wage == maxs.Wage.max()]

      Wage  Age       Name
23  300000   30  S. Agüero

In [141]:
maxs = df[(df.Nationality == "Argentina") & (df.Age == 30)][['Wage','Age','Name','Club']]
maxs[maxs.Wage == maxs.Wage.min()]

      Wage  Age      Name              Club
3366  1000   30   J. Miño  Deportes Iquique
6893  1000   30  L. Trejo    Atlético Huila

In [144]:
df[(df.Club == "FC Barcelona") & (df.Nationality == "Argentina")][['Strength','Balance']]

   Strength  Balance
0        59       95

In [145]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum')
display(pivot)

                           Wage
Club               FC Barcelona  Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0  205000.0          206000.0         NaN
Belgium                110000.0       NaN          230000.0    240000.0
Bosnia Herzegovina          NaN  180000.0               NaN         NaN
Brazil                 465000.0  335000.0           91000.0    570000.0
Chile                  205000.0       NaN          215000.0         NaN
Costa Rica                  NaN       NaN               NaN    195000.0
Croatia                260000.0  160000.0               NaN    420000.0
Dominican Republic          NaN       NaN               NaN    140000.0
Ecuador                     NaN       NaN          120000.0         NaN
England                     NaN       NaN          478000.0         NaN
France                 495000.0  145000.0          375000.0    459000.0
Germany                240000.0  160000.0               NaN    355000.0
Italy                       NaN  460000.0           88000.0         NaN
Ivory Coast                 NaN       NaN          105000.0         NaN
Morocco                     NaN  160000.0               NaN         NaN
Netherlands            135000.0       NaN               NaN         NaN
Poland                      NaN  125000.0               NaN         NaN
Portugal               125000.0  405000.0               NaN         NaN
Scotland                    NaN       NaN           11000.0         NaN
Serbia                      NaN       NaN          165000.0         NaN
Spain                  912000.0       NaN          260000.0   1404000.0
Uruguay                455000.0       NaN               NaN         NaN
Wales                       NaN       NaN           13000.0    355000.0

In [146]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [147]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [148]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [149]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [150]:
pivot.loc['Argentina']['Name']['Manchester United']

2

In [199]:
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc=['count'],
fill_value=0)
display(pivot)

                      count                                 ...             \
                       Name                                 ...
Position                CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM
Club                                                        ...
 SSV Jahn Regensburg      0  5   1  0  2  3   0  2   0   0  ...  2   1   0
1. FC Heidenheim 1846     1  3   0  0  1  2   0  2   1   0  ...  2   1   0
1. FC Kaiserslautern      0  3   3  0  0  3   0  2   1   0  ...  2   0   0
1. FC Köln                0  1   1  0  2  3   0  0   0   0  ...  1   0   0
1. FC Magdeburg           0  4   0  1  0  3   0  1   1   1  ...  0   1   1
...                     ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..
Zagłębie Sosnowiec        3  2   2  0  0  3   0  3   1   0  ...  1   1   0
Çaykur Rizespor           1  2   5  0  0  3   0  2   1   0  ...  3   0   0
Örebro SK                 0  4   0  0  1  3   0  0   1   1  ...  0   1   1
Östersunds FK             1  1   0  1  3  3   0  2   1   1  ...  1   1   0
Śląsk Wrocław             0  1   3  0  1  3   0  2   1   0  ...  2   1   0



Position              RDM RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg    1  0  0  0  0   0  3
1. FC Heidenheim 1846   0  0  3  0  0   0  2
1. FC Kaiserslautern    1  0  2  1  0   0  1
1. FC Köln              0  0  1  0  0   0  0
1. FC Magdeburg         0  0  3  1  2   0  1
...                    .. .. .. .. ..  .. ..
Zagłębie Sosnowiec      1  0  2  0  0   0  1
Çaykur Rizespor         1  0  1  0  0   0  1
Örebro SK               0  0  0  0  2   2  5
Östersunds FK           0  0  1  0  1   0  1
Śląsk Wrocław           1  0  2  1  0   0  2

[650 rows x 27 columns]

In [201]:
pivot['count']['Name']['GK'].mean()

2.5246153846153847

In [204]:
sers = pivot['count']['Name']['CM']
sers[sers == 0]

Club
1. FC Kaiserslautern    0
1. FC Magdeburg         0
AEK Athens              0
AS Nancy Lorraine       0
Al Ahli                 0
                       ..
Waasland-Beveren        0
Watford                 0
Wellington Phoenix      0
Zagłębie Sosnowiec      0
Çaykur Rizespor         0
Name: CM, Length: 136, dtype: int64

In [210]:
df.loc[(df['Nationality'] == 'Russia') & (df['Club'] == 'AS Monaco')].Wage

365    61000
Name: Wage, dtype: int64

In [220]:
pivot = df.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
margins=True,
fill_value=0)
display(pivot)

                      SprintSpeed                                              \
Position                      CAM         CB        CDM         CF         CM
Club
 SSV Jahn Regensburg     0.000000  46.600000  82.000000   0.000000  61.000000
1. FC Heidenheim 1846   68.000000  61.333333   0.000000   0.000000  68.000000
1. FC Kaiserslautern     0.000000  59.000000  65.666667   0.000000   0.000000
1. FC Köln               0.000000  60.000000  32.000000   0.000000  68.500000
1. FC Magdeburg          0.000000  60.000000   0.000000  64.000000   0.000000
...                           ...        ...        ...        ...        ...
Çaykur Rizespor         74.000000  58.000000  62.800000   0.000000   0.000000
Örebro SK                0.000000  60.750000   0.000000   0.000000  63.000000
Östersunds FK           67.000000  76.000000   0.000000  77.000000  56.333333
Śląsk Wrocław            0.000000  62.000000  66.666667   0.000000  72.000000
All                     68.236967  57.734854  60.813314  69.803922  64.299906

                                                                             \
Position                      GK        LAM         LB       LCB        LCM
Club
 SSV Jahn Regensburg   33.000000   0.000000  76.000000   0.00000   0.000000
1. FC Heidenheim 1846  41.000000   0.000000  60.000000  55.00000   0.000000
1. FC Kaiserslautern   42.666667   0.000000  68.000000  45.00000   0.000000
1. FC Köln             33.000000   0.000000   0.000000   0.00000   0.000000
1. FC Magdeburg        39.333333   0.000000  69.000000  60.00000  66.000000
...                          ...        ...        ...       ...        ...
Çaykur Rizespor        47.000000   0.000000  75.500000  63.00000   0.000000
Örebro SK              33.666667   0.000000   0.000000  58.00000  44.000000
Östersunds FK          32.666667   0.000000  74.500000  53.00000  62.000000
Śląsk Wrocław          30.666667   0.000000  78.500000  59.00000   0.000000
All                    37.622182  76.333333  70.718563  58.93643  65.334764

                       ...                                              \
Position               ...        RCB        RCM        RDM         RF
Club                   ...
 SSV Jahn Regensburg   ...  57.000000   0.000000  65.000000   0.000000
1. FC Heidenheim 1846  ...  59.000000   0.000000   0.000000   0.000000
1. FC Kaiserslautern   ...   0.000000   0.000000  55.000000   0.000000
1. FC Köln             ...   0.000000   0.000000   0.000000   0.000000
1. FC Magdeburg        ...  68.000000  71.000000   0.000000   0.000000
...                    ...        ...        ...        ...        ...
Çaykur Rizespor        ...   0.000000   0.000000  32.000000   0.000000
Örebro SK              ...  62.000000  66.000000   0.000000   0.000000
Östersunds FK          ...  73.000000   0.000000   0.000000   0.000000
Śląsk Wrocław          ...  58.000000   0.000000  69.000000   0.000000
All                    ...  58.239234  65.233333  62.152174  76.333333

                                                                              \
Position                      RM         RS         RW        RWB         ST
Club
 SSV Jahn Regensburg    0.000000   0.000000   0.000000   0.000000  61.666667
1. FC Heidenheim 1846  78.333333   0.000000   0.000000   0.000000  69.000000
1. FC Kaiserslautern   82.500000  69.000000   0.000000   0.000000  79.000000
1. FC Köln             77.000000   0.000000   0.000000   0.000000   0.000000
1. FC Magdeburg        76.000000  53.000000  80.500000   0.000000  44.000000
...                          ...        ...        ...        ...        ...
Çaykur Rizespor        85.000000   0.000000   0.000000   0.000000  48.000000
Örebro SK               0.000000   0.000000  77.500000  72.000000  72.200000
Östersunds FK          85.000000   0.000000  67.000000   0.000000  52.000000
Śląsk Wrocław          68.000000  81.000000   0.000000   0.000000  54.000000
All                    74.943864  71.991228  75.417722  73.128571  68.700397


Position                     All
Club
 SSV Jahn Regensburg   59.041667
1. FC Heidenheim 1846  65.450000
1. FC Kaiserslautern   65.217391
1. FC Köln             55.200000
1. FC Magdeburg        63.238095
...                          ...
Çaykur Rizespor        61.318182
Örebro SK              63.000000
Östersunds FK          61.450000
Śląsk Wrocław          60.583333
All                    63.205629

[651 rows x 28 columns]

In [232]:
dats = pivot
dats

                      SprintSpeed                                              \
Position                      CAM         CB        CDM         CF         CM
Club
 SSV Jahn Regensburg     0.000000  46.600000  82.000000   0.000000  61.000000
1. FC Heidenheim 1846   68.000000  61.333333   0.000000   0.000000  68.000000
1. FC Kaiserslautern     0.000000  59.000000  65.666667   0.000000   0.000000
1. FC Köln               0.000000  60.000000  32.000000   0.000000  68.500000
1. FC Magdeburg          0.000000  60.000000   0.000000  64.000000   0.000000
...                           ...        ...        ...        ...        ...
Çaykur Rizespor         74.000000  58.000000  62.800000   0.000000   0.000000
Örebro SK                0.000000  60.750000   0.000000   0.000000  63.000000
Östersunds FK           67.000000  76.000000   0.000000  77.000000  56.333333
Śląsk Wrocław            0.000000  62.000000  66.666667   0.000000  72.000000
All                     68.236967  57.734854  60.813314  69.803922  64.299906

                                                                             \
Position                      GK        LAM         LB       LCB        LCM
Club
 SSV Jahn Regensburg   33.000000   0.000000  76.000000   0.00000   0.000000
1. FC Heidenheim 1846  41.000000   0.000000  60.000000  55.00000   0.000000
1. FC Kaiserslautern   42.666667   0.000000  68.000000  45.00000   0.000000
1. FC Köln             33.000000   0.000000   0.000000   0.00000   0.000000
1. FC Magdeburg        39.333333   0.000000  69.000000  60.00000  66.000000
...                          ...        ...        ...       ...        ...
Çaykur Rizespor        47.000000   0.000000  75.500000  63.00000   0.000000
Örebro SK              33.666667   0.000000   0.000000  58.00000  44.000000
Östersunds FK          32.666667   0.000000  74.500000  53.00000  62.000000
Śląsk Wrocław          30.666667   0.000000  78.500000  59.00000   0.000000
All                    37.622182  76.333333  70.718563  58.93643  65.334764

                       ...                                              \
Position               ...        RCB        RCM        RDM         RF
Club                   ...
 SSV Jahn Regensburg   ...  57.000000   0.000000  65.000000   0.000000
1. FC Heidenheim 1846  ...  59.000000   0.000000   0.000000   0.000000
1. FC Kaiserslautern   ...   0.000000   0.000000  55.000000   0.000000
1. FC Köln             ...   0.000000   0.000000   0.000000   0.000000
1. FC Magdeburg        ...  68.000000  71.000000   0.000000   0.000000
...                    ...        ...        ...        ...        ...
Çaykur Rizespor        ...   0.000000   0.000000  32.000000   0.000000
Örebro SK              ...  62.000000  66.000000   0.000000   0.000000
Östersunds FK          ...  73.000000   0.000000   0.000000   0.000000
Śląsk Wrocław          ...  58.000000   0.000000  69.000000   0.000000
All                    ...  58.239234  65.233333  62.152174  76.333333

                                                                              \
Position                      RM         RS         RW        RWB         ST
Club
 SSV Jahn Regensburg    0.000000   0.000000   0.000000   0.000000  61.666667
1. FC Heidenheim 1846  78.333333   0.000000   0.000000   0.000000  69.000000
1. FC Kaiserslautern   82.500000  69.000000   0.000000   0.000000  79.000000
1. FC Köln             77.000000   0.000000   0.000000   0.000000   0.000000
1. FC Magdeburg        76.000000  53.000000  80.500000   0.000000  44.000000
...                          ...        ...        ...        ...        ...
Çaykur Rizespor        85.000000   0.000000   0.000000   0.000000  48.000000
Örebro SK               0.000000   0.000000  77.500000  72.000000  72.200000
Östersunds FK          85.000000   0.000000  67.000000   0.000000  52.000000
Śląsk Wrocław          68.000000  81.000000   0.000000   0.000000  54.000000
All                    74.943864  71.991228  75.417722  73.128571  68.700397


Position                     All
Club
 SSV Jahn Regensburg   59.041667
1. FC Heidenheim 1846  65.450000
1. FC Kaiserslautern   65.217391
1. FC Köln             55.200000
1. FC Magdeburg        63.238095
...                          ...
Çaykur Rizespor        61.318182
Örebro SK              63.000000
Östersunds FK          61.450000
Śląsk Wrocław          60.583333
All                    63.205629

[651 rows x 28 columns]

In [233]:
dats.loc['All'].sort_values(ascending=False)

             Position
SprintSpeed  RF          76.333333
             LAM         76.333333
             LF          75.875000
             RW          75.417722
             RM          74.943864
             LW          74.747934
             LM          74.211538
             RAM         73.800000
             RWB         73.128571
             LWB         72.833333
             LS          72.338843
             RS          71.991228
             RB          71.186709
             LB          70.718563
             CF          69.803922
             ST          68.700397
             CAM         68.236967
             LCM         65.334764
             RCM         65.233333
             CM          64.299906
             All         63.205629
             RDM         62.152174
             LDM         62.006757
             CDM         60.813314
             LCB         58.936430
             RCB         58.239234
             CB          57.734854
             GK          37.622182
Name: All, dtype: float64

In [246]:
pivot['SprintSpeed']['ST'].sort_values(ascending=False)

Club
Vitória                  91.000000
Sydney FC                88.000000
CD Lugo                  87.000000
Brøndby IF               84.666667
Leicester City           84.500000
                           ...
Al Ittihad                0.000000
Cagliari                  0.000000
KAA Gent                  0.000000
Sporting de Charleroi     0.000000
Girona FC                 0.000000
Name: ST, Length: 651, dtype: float64