# Проект 3. О вкусной и здоровой пище

In [157]:
import pandas as pd
import numpy as np

In [158]:
data = pd.read_csv('main_task.csv') # загружаем данные
data.info() # смотрим краткую инфу

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [159]:
data.head() # смотрим данные

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [160]:
data[(data['Price Range'].isna() == False)].head() # проверяю кое что)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,"[['Excellent simple local eatery.', 'Excellent...",/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,"[['Clean efficient staff', 'Nice little pizza ...",/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681

In [161]:
data['Price Range'].unique() # смотрим на уникальные ключи

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [162]:
len(data[data['Price Range'] == '$$ - $$$']) # смотрим количество среднего ценового сегмента

18412

In [163]:
len(data['City'].unique()) # смотрим количество городов

31

In [164]:
codes, uniques = data['City'].factorize() # использовал когда писал код без dummy-variables
codes, uniques

(array([ 0,  1,  2, ...,  1, 15,  6]),
 Index(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto', 'Milan',
        'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid', 'Dublin',
        'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen', 'Amsterdam',
        'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo', 'Helsinki', 'Edinburgh',
        'Geneva', 'Ljubljana', 'Athens', 'Luxembourg', 'Krakow'],
       dtype='object'))

In [165]:
# Импортируем либы для Regex и коллекций
import re
import collections

# Метод для приведения строковое значение кухонь в вид списка
def filter_cus(arr):
    obj = arr
    ret = []
    if type(arr) is str:
        obj = re.split("\['|', '|'\]", arr)
    else:
        ret.append('Default')
    for cus in obj:
        if cus != '':
            ret.append(cus)
    return ret

cuisine = data['Cuisine Style'].apply(lambda x: [] if x != x else x) # NaN переназначаем на пустой список
parsed = cuisine.apply(lambda x: filter_cus(x)) # парсим данные о кухонь
cus_num = parsed.apply(lambda x: len(x)) # сохраняем инфу о количество кухонь для дальнейшего оспользования
parsed # спарсенные кухни

0                        [European, French, International]
1                                                [Default]
2        [Japanese, Sushi, Asian, Grill, Vegetarian Fri...
3                                                [Default]
4          [German, Central European, Vegetarian Friendly]
                               ...
39995    [Italian, Vegetarian Friendly, Vegan Options, ...
39996    [French, American, Bar, European, Vegetarian F...
39997                                    [Japanese, Sushi]
39998    [Polish, European, Eastern European, Central E...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

In [166]:
re.findall("\d\d/\d\d/\d\d\d\d", data.Reviews[0]) # проверяю регулярку

['12/31/2017', '11/20/2017']

In [167]:
# Импортирую либу для даты
from datetime import datetime

dates = []
# Промежуточный метод для проверки всех дат
def get_dates(arr):
    for item in arr:
        dates.append(datetime.strptime(item, '%m/%d/%Y'))

# Метод для извлечения количества дней между первым и последними комментами
def split_dates(arr):
    if len(arr) == 0: # если длина списка равна 0 то возвращаем 0 дней
        return datetime.strptime('01/01/2000', '%m/%d/%Y')-datetime.strptime('01/01/2000', '%m/%d/%Y')
    dts = []
    for item in arr: # пробегаемся по списку и извлекаем инфу
        dts.append(datetime.strptime(item, '%m/%d/%Y'))
    srt_arr = sorted(dts, reverse=True) # сортируем даты
    return srt_arr[0]-srt_arr[len(srt_arr)-1] # извлекаем дни

newdata = data.copy() # дабы не портить начальные данные делаем копию данных
revs = data.Reviews.apply(lambda x: re.findall("\d\d/\d\d/\d\d\d\d", x)) # находим все даты в данных об отзывах
newdata['Rev_Days'] = revs.apply(lambda x: split_dates(x).days) # пишем результаты в новый столбец
newdata['Rev_Days'].max()

3207

In [168]:
dt = datetime.strptime('01/01/2001', '%m/%d/%Y')-datetime.strptime('01/01/2000', '%m/%d/%Y')
dt.days

366

In [169]:
# Метод для приведения ценовых категорий под конкретные числа
def parse_range(symb):
    if symb == '$':
        return 1
    elif symb == '$$ - $$$':
        return 2
    else:
        return 3

temp_range = data['Price Range'].apply(lambda x: None if x != x else parse_range(x)) # сохраняем данные в промежуточную серию
rng_medn = temp_range.dropna().median() # находим медиану так как она целая
newdata['Price_Range_Id'] = data['Price Range'].apply(lambda x: rng_medn if x != x else parse_range(x)) # применяем метод с заменой NaN значений на найденную выше медиану

In [170]:
# newdata['City_Id'] = pd.Series(codes) # не изпользуем приведение городов под идентификационные номера

# Метод с задания Python 12 который пибавляет единицу если находит в списке
def find_item(cell):
    if item in cell:
        return 1
    return 0

for item in uniques: # пробегаемся по названиям городов
    newdata[item] = newdata['City'].apply(find_item) # находим города и создаем под них новые столбцы и ставим единицу если ресторан находится в этом городе
uniques # список уникальных названий городов

Index(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto', 'Milan',
       'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid', 'Dublin',
       'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen', 'Amsterdam',
       'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo', 'Helsinki', 'Edinburgh',
       'Geneva', 'Ljubljana', 'Athens', 'Luxembourg', 'Krakow'],
      dtype='object')

In [171]:
# вручную составляем словарь стран с городами в данных
states = {'Spain': ['Barcelona','Madrid'], 'Portugal':['Lisbon','Oporto'], 'Slovakia':['Bratislava'], 'Austria':['Vienna'],
        'Switzerland':['Zurich','Geneva'], 'France':['Paris','Lyon'], 'Sweden':['Stockholm'], 'Poland':['Warsaw','Krakow'],
        'Germany':['Berlin','Munich','Hamburg'], 'UK':['London'], 'Italy':['Milan','Rome'],
        'Slovenia':['Ljubljana'], 'Greece':['Athens'], 'Luxembourg':['Luxembourg'], 'Norway':['Oslo'],
        'Belgium':['Brussels'], 'Ireland':['Dublin'], 'Finland':['Helsinki'], 'Denmark':['Copenhagen'],
        'Scotland':['Edinburgh'], 'Netherlands':['Amsterdam'], 'Hungary':['Budapest'],
        'Czechia':['Prague']}
states['Spain'][0]

'Barcelona'

In [172]:
# Метод для нахождения страны по городу
def find_cnty(city):
    for key in states:
        if city in states[key]:
            return key

newdata['Country'] = newdata['City'].apply(find_cnty) # находим страны и присваиваем в новый столбец
newdata['Country'].head()

0     France
1     Sweden
2         UK
3    Germany
4    Germany
Name: Country, dtype: object

In [173]:
for item in states.keys():
    newdata[item] = newdata['Country'].apply(find_item) # применяем тот же метод который использовали для распределения ресторанов по городам

In [174]:
newdata['Cuisine_Num'] = parsed.apply(lambda x: len(x)) # используем лямбду для расставления количества кухонь в датасет
newdata['Cuisine Style'] = pd.Series(parsed) # перепишем строковые данные под список

# фильтруем данные в сет
cuisine_set = set()
for cus in parsed:
    for item in cus:
        cuisine_set.add(item)
len(cuisine_set) # количество кухонь
for item in cuisine_set:
    newdata[item] = newdata['Cuisine Style'].apply(find_item) # применяем тот же метод который использовали для распределения ресторанов по городам
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Columns: 193 entries, Restaurant_id to Italian
dtypes: float64(4), int64(181), object(8)
memory usage: 58.9+ MB

In [175]:
newdata.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,...,Native American,American,Street Food,Georgian,Salvadoran,Bar,Azerbaijani,Tibetan,Slovenian,Italian
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,...,0,0,0,0,0,0,0,0,0,0
1,id_1535,Stockholm,[Default],1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,...,0,0,0,0,0,0,0,0,0,0
2,id_352,London,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,Berlin,[Default],3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,...,0,0,0,0,0,0,0,0,0,0
4,id_615,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,...,0,0,0,0,0,0,0,0,0,0

In [176]:
# Чистим данные по количеству отзывов
newdf = newdata.drop(columns=['Restaurant_id','City','Country','Cuisine Style','Price Range','Reviews','URL_TA','ID_TA'])
newdf.rename(columns={'Number of Reviews': 'review_num'}, inplace=True) # заменяем название на более удобное

# убираем выбросы
IQR = newdf.review_num.quantile(0.75) - newdf.review_num.quantile(0.25)
perc25 = newdf.review_num.quantile(0.25)
perc75 = newdf.review_num.quantile(0.75)
real_mean = newdf.review_num.loc[newdf.review_num.between(perc25 - 1.5*IQR, perc75 + 1.5*IQR)].mean()

# используем медиану для заполнения NaN значений
newdata['Number of Reviews'] = newdf.review_num.fillna(real_mean)
# убираем строковые данные
testdf = newdata.drop(columns=['City','Country','Cuisine Style','Price Range','Reviews','URL_TA','ID_TA'])
testdf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 186 columns):
 #    Column               Dtype
---   ------               -----
 0    Restaurant_id        object
 1    Ranking              float64
 2    Rating               float64
 3    Number of Reviews    float64
 4    Rev_Days             int64
 5    Price_Range_Id       float64
 6    Paris                int64
 7    Stockholm            int64
 8    London               int64
 9    Berlin               int64
 10   Munich               int64
 11   Oporto               int64
 12   Milan                int64
 13   Bratislava           int64
 14   Vienna               int64
 15   Rome                 int64
 16   Barcelona            int64
 17   Madrid               int64
 18   Dublin               int64
 19   Brussels             int64
 20   Zurich               int64
 21   Warsaw               int64
 22   Budapest             int64
 23   Copenhagen           int64
 24   Amsterdam            int64
 25   Lyon                 int64
 26   Hamburg              int64
 27   Lisbon               int64
 28   Prague               int64
 29   Oslo                 int64
 30   Helsinki             int64
 31   Edinburgh            int64
 32   Geneva               int64
 33   Ljubljana            int64
 34   Athens               int64
 35   Luxembourg           int64
 36   Krakow               int64
 37   Spain                int64
 38   Portugal             int64
 39   Slovakia             int64
 40   Austria              int64
 41   Switzerland          int64
 42   France               int64
 43   Sweden               int64
 44   Poland               int64
 45   Germany              int64
 46   UK                   int64
 47   Italy                int64
 48   Slovenia             int64
 49   Greece               int64
 50   Norway               int64
 51   Belgium              int64
 52   Ireland              int64
 53   Finland              int64
 54   Denmark              int64
 55   Scotland             int64
 56   Netherlands          int64
 57   Hungary              int64
 58   Czechia              int64
 59   Cuisine_Num          int64
 60   German               int64
 61   Russian              int64
 62   Austrian             int64
 63   Sushi                int64
 64   Indian               int64
 65   Brew Pub             int64
 66   Swedish              int64
 67   Pizza                int64
 68   French               int64
 69   Cafe                 int64
 70   Singaporean          int64
 71   Cajun & Creole       int64
 72   Afghani              int64
 73   Australian           int64
 74   Portuguese           int64
 75   African              int64
 76   Hawaiian             int64
 77   Albanian             int64
 78   Croatian             int64
 79   Chinese              int64
 80   Armenian             int64
 81   Uzbek                int64
 82   Hungarian            int64
 83   Pub                  int64
 84   Mongolian            int64
 85   Default              int64
 86   Kosher               int64
 87   Japanese             int64
 88   Spanish              int64
 89   Halal                int64
 90   Thai                 int64
 91   Southwestern         int64
 92   Minority Chinese     int64
 93   Vegan Options        int64
 94   Ukrainian            int64
 95   Yunnan               int64
 96   Wine Bar             int64
 97   Filipino             int64
 98   Tunisian             int64
 99   Central European     int64
 100  Delicatessen         int64
 101  Scottish             int64
 102  Healthy              int64
 103  Arabic               int64
 104  Soups                int64
 105  Grill                int64
 106  Czech                int64
 107  Cambodian            int64
 108  Latin                int64
 109  Ethiopian            int64
 110  Colombian            int64
 111  Fusion               int64
 112  Korean               int64
 113  Cuban                int64
 114  Vegetarian Friendly  int64
 115  Argentinean          int64
 116  Jamaican             int64
 117  Gluten Free Options  int64
 118  Fast Food            int64
 119  Latvian              int64
 120  Ecuadorean           int64
 121  Bangladeshi          int64
 122  Egyptian             int64
 123  Contemporary         int64
 124  Indonesian           int64
 125  Irish                int64
 126  Fujian               int64
 127  Peruvian             int64
 128  Polish               int64
 129  Steakhouse           int64
 130  South American       int64
 131  Taiwanese            int64
 132  Caucasian            int64
 133  Sri Lankan           int64
 134  Nepali               int64
 135  Turkish              int64
 136  Burmese              int64
 137  Middle Eastern       int64
 138  Chilean              int64
 139  Xinjiang             int64
 140  Dutch                int64
 141  Central American     int64
 142  Welsh                int64
 143  Diner                int64
 144  British              int64
 145  Romanian             int64
 146  Danish               int64
 147  Vietnamese           int64
 148  Belgian              int64
 149  Malaysian            int64
 150  Asian                int64
 151  Central Asian        int64
 152  Mediterranean        int64
 153  Scandinavian         int64
 154  International        int64
 155  Brazilian            int64
 156  Israeli              int64
 157  Eastern European     int64
 158  Polynesian           int64
 159  Venezuelan           int64
 160  Norwegian            int64
 161  Swiss                int64
 162  Pakistani            int64
 163  Mexican              int64
 164  Barbecue             int64
 165  Greek                int64
 166  Canadian             int64
 167  Seafood              int64
 168  New Zealand          int64
 169  Moroccan             int64
 170  Gastropub            int64
 171  Caribbean            int64
 172  Lebanese             int64
 173  Persian              int64
 174  European             int64
 175  Balti                int64
 176  Native American      int64
 177  American             int64
 178  Street Food          int64
 179  Georgian             int64
 180  Salvadoran           int64
 181  Bar                  int64
 182  Azerbaijani          int64
 183  Tibetan              int64
 184  Slovenian            int64
 185  Italian              int64
dtypes: float64(4), int64(181), object(1)
memory usage: 56.8+ MB

In [177]:
# Закоментил код ниже, так как из за него увеличился MAE

# testdf['Rev_Per_Day'] = testdf['Number of Reviews'] / testdf['Rev_Days']
# testdf['Rev_Per_Day'] = testdf['Rev_Per_Day'].replace(np.inf, 0)
# newdata[newdata['Rev_Per_Day'] > 0 ]

In [178]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = testdf.drop(['Restaurant_id', 'Rating'], axis = 1)
y = testdf['Rating']

# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21521500000000002

In [180]:
testdf.head()

,Restaurant_id,Ranking,Rating,Number of Reviews,Rev_Days,Price_Range_Id,Paris,Stockholm,London,Berlin,...,Native American,American,Street Food,Georgian,Salvadoran,Bar,Azerbaijani,Tibetan,Slovenian,Italian
0,id_5569,5570.0,3.5,194.0,41,2.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,id_1535,1537.0,4.0,10.0,382,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_352,353.0,4.5,688.0,2,3.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,3458.0,5.0,3.0,0,2.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,id_615,621.0,4.0,84.0,272,2.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
testdf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 186 columns):
 #    Column               Dtype
---   ------               -----
 0    Restaurant_id        object
 1    Ranking              float64
 2    Rating               float64
 3    Number of Reviews    float64
 4    Rev_Days             int64
 5    Price_Range_Id       float64
 6    Paris                int64
 7    Stockholm            int64
 8    London               int64
 9    Berlin               int64
 10   Munich               int64
 11   Oporto               int64
 12   Milan                int64
 13   Bratislava           int64
 14   Vienna               int64
 15   Rome                 int64
 16   Barcelona            int64
 17   Madrid               int64
 18   Dublin               int64
 19   Brussels             int64
 20   Zurich               int64
 21   Warsaw               int64
 22   Budapest             int64
 23   Copenhagen           int64
 24   Amsterdam            int64
 25   Lyon                 int64
 26   Hamburg              int64
 27   Lisbon               int64
 28   Prague               int64
 29   Oslo                 int64
 30   Helsinki             int64
 31   Edinburgh            int64
 32   Geneva               int64
 33   Ljubljana            int64
 34   Athens               int64
 35   Luxembourg           int64
 36   Krakow               int64
 37   Spain                int64
 38   Portugal             int64
 39   Slovakia             int64
 40   Austria              int64
 41   Switzerland          int64
 42   France               int64
 43   Sweden               int64
 44   Poland               int64
 45   Germany              int64
 46   UK                   int64
 47   Italy                int64
 48   Slovenia             int64
 49   Greece               int64
 50   Norway               int64
 51   Belgium              int64
 52   Ireland              int64
 53   Finland              int64
 54   Denmark              int64
 55   Scotland             int64
 56   Netherlands          int64
 57   Hungary              int64
 58   Czechia              int64
 59   Cuisine_Num          int64
 60   German               int64
 61   Russian              int64
 62   Austrian             int64
 63   Sushi                int64
 64   Indian               int64
 65   Brew Pub             int64
 66   Swedish              int64
 67   Pizza                int64
 68   French               int64
 69   Cafe                 int64
 70   Singaporean          int64
 71   Cajun & Creole       int64
 72   Afghani              int64
 73   Australian           int64
 74   Portuguese           int64
 75   African              int64
 76   Hawaiian             int64
 77   Albanian             int64
 78   Croatian             int64
 79   Chinese              int64
 80   Armenian             int64
 81   Uzbek                int64
 82   Hungarian            int64
 83   Pub                  int64
 84   Mongolian            int64
 85   Default              int64
 86   Kosher               int64
 87   Japanese             int64
 88   Spanish              int64
 89   Halal                int64
 90   Thai                 int64
 91   Southwestern         int64
 92   Minority Chinese     int64
 93   Vegan Options        int64
 94   Ukrainian            int64
 95   Yunnan               int64
 96   Wine Bar             int64
 97   Filipino             int64
 98   Tunisian             int64
 99   Central European     int64
 100  Delicatessen         int64
 101  Scottish             int64
 102  Healthy              int64
 103  Arabic               int64
 104  Soups                int64
 105  Grill                int64
 106  Czech                int64
 107  Cambodian            int64
 108  Latin                int64
 109  Ethiopian            int64
 110  Colombian            int64
 111  Fusion               int64
 112  Korean               int64
 113  Cuban                int64
 114  Vegetarian Friendly  int64
 115  Argentinean          int64
 116  Jamaican             int64
 117  Gluten Free Options  int64
 118  Fast Food            int64
 119  Latvian              int64
 120  Ecuadorean           int64
 121  Bangladeshi          int64
 122  Egyptian             int64
 123  Contemporary         int64
 124  Indonesian           int64
 125  Irish                int64
 126  Fujian               int64
 127  Peruvian             int64
 128  Polish               int64
 129  Steakhouse           int64
 130  South American       int64
 131  Taiwanese            int64
 132  Caucasian            int64
 133  Sri Lankan           int64
 134  Nepali               int64
 135  Turkish              int64
 136  Burmese              int64
 137  Middle Eastern       int64
 138  Chilean              int64
 139  Xinjiang             int64
 140  Dutch                int64
 141  Central American     int64
 142  Welsh                int64
 143  Diner                int64
 144  British              int64
 145  Romanian             int64
 146  Danish               int64
 147  Vietnamese           int64
 148  Belgian              int64
 149  Malaysian            int64
 150  Asian                int64
 151  Central Asian        int64
 152  Mediterranean        int64
 153  Scandinavian         int64
 154  International        int64
 155  Brazilian            int64
 156  Israeli              int64
 157  Eastern European     int64
 158  Polynesian           int64
 159  Venezuelan           int64
 160  Norwegian            int64
 161  Swiss                int64
 162  Pakistani            int64
 163  Mexican              int64
 164  Barbecue             int64
 165  Greek                int64
 166  Canadian             int64
 167  Seafood              int64
 168  New Zealand          int64
 169  Moroccan             int64
 170  Gastropub            int64
 171  Caribbean            int64
 172  Lebanese             int64
 173  Persian              int64
 174  European             int64
 175  Balti                int64
 176  Native American      int64
 177  American             int64
 178  Street Food          int64
 179  Georgian             int64
 180  Salvadoran           int64
 181  Bar                  int64
 182  Azerbaijani          int64
 183  Tibetan              int64
 184  Slovenian            int64
 185  Italian              int64
dtypes: float64(4), int64(181), object(1)
memory usage: 56.8+ MB